<!-- Footer -->
<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            
            <!-- Universidad Info -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">UMSS</h5>
                <p>Universidad Mayor de San Simón, una institución de excelencia académica en el corazón de Bolivia, Cochabamba. Comprometida con la investigación, la ciencia y la cultura.</p>
            </div>

            <!-- Secciones -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Enlaces</h5>
                <p><a href="#" class="text-white text-decoration-none">Inicio</a></p>
                <p><a href="#" class="text-white text-decoration-none">Facultades</a></p>
                <p><a href="#" class="text-white text-decoration-none">Investigación</a></p>
                <p><a href="#" class="text-white text-decoration-none">Noticias</a></p>
            </div>

            <!-- Integrantes & Contacto -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                <p><a href="pages/members.html" class="text-white text-decoration-none">Integrantes del Equipo</a></p>
                <p><a href="#" class="text-white text-decoration-none">Misión y Visión</a></p>
                <p><a href="#" class="text-white text-decoration-none">Historia</a></p>
            </div>

            <!-- Contacto -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
                <p><i class="fas fa-home me-3"></i> Av. Oquendo y Jordan, Cochabamba</p>
                <p><i class="fas fa-envelope me-3"></i> info@umss.edu.bo</p>
                <p><i class="fas fa-phone me-3"></i> +591 4 4251515</p>
            </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <!-- Copyright -->
            <div class="col-md-7 col-lg-8">
                <p>© 2024 Todos los derechos reservados por:
                    <a href="#" class="text-decoration-none">
                        <strong class="text-primary">Equipo SCESI - UMSS</strong>
                    </a>
                </p>
            </div>

            <!-- Social Media Icons -->
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
